.intro-banner{
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 5rem;
    padding-bottom:5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("../../Assets/Group 23.png");
    background-repeat: no-repeat;
    background-size: 35rem 38rem;
    background-position: bottom;
    background-color: #f8f7f1;
}

.firstLine{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.passion{
    text-align: center;
}

.secondLine{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
}

.university{
    padding-bottom: 5rem;
    text-align: center;
    line-height: 1.3;
    margin: 0;
}
.age{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.university>img{
    /*margin-bottom: -1.5rem;*/
}