.burger{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:100px;
    background-color: white;
    border-radius: 50px;
}

.img-burger{
    width:50%;
    height:50%;
}
.img-cancel{
    width:40%;
    height:40%;
}