.burger{
    display: flex;
    justify-content: center;
    align-items: center;
    width:150px;
    height:150px;
    background-color: white;
    border-radius: 100px;
}

.img-burger{
    width:80%;
    height:80%;
}
.img-cancel{
    width:60%;
    height:60%;
}

