@font-face {
    font-family: "DancingScript-SemiBold";
    src: local("DancingScript-SemiBold"),
    url('../../Fonts/DancingScript-SemiBold.ttf') format("truetype");
    font-weight: 700;
}
a{
    text-decoration: none;
    color: black;
}
.bg-img{
    font-family: DancingScript-SemiBold;
    text-align: center;
}
.large{
    font-size: 40px;
}
.small{
    font-size: 24px;
}