.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f8f7f1;
    padding-top: 5rem;
    padding-bottom: 8rem;
    height: 15rem;
}
.left-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1;
}

.footer-little{
    width: 53%;
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-menu{
    padding-top: 2rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
