@font-face {
    font-family: "Poppins";
    src: local("Poppins-SemiBold"),
    url('./Fonts/Poppins-SemiBold.ttf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins-Medium"),
    url('./Fonts/Poppins-Medium.ttf') format("truetype");
    font-weight:500;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins-Light"),
    url('./Fonts/Poppins-Light.ttf') format("truetype");
    font-weight: 300;
}
body{
    background-color: #edb33c;
    height: 100%;

}
html{
    border: 2px solid transparent;
    border-radius: 15px;
    height: 100%;
}

#root{
    border: 2px solid transparent;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
    border: 2px solid transparent;
    border-radius: 15px;
    background-color: #f8f7f1;
    font-family: 'Poppins';
    width: 90%;
    height: 90%;
}