@font-face {
    font-family: "Poppins";
    src: local("Poppins-SemiBold"),
    url('./Fonts/Poppins-SemiBold.ttf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins-Medium"),
    url('./Fonts/Poppins-Medium.ttf') format("truetype");
    font-weight:500;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins-Light"),
    url('./Fonts/Poppins-Light.ttf') format("truetype");
    font-weight: 300;
}
body{
    background-color: #edb33c;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
}

